# This workflow will install Python dependencies, run tests and lint with a single version of Python
# For more information see: https://help.github.com/actions/language-and-framework-guides/using-python-with-github-actions

name: Update ICU Plot in GitHub Pages

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
      with:
        fetch-depth: 0
    - name: Set up Python 3.9
      uses: actions/setup-python@v2
      with:
        python-version: 3.9
    - name: Generate index.html with plotted ICU data
      run: |
        python -m pip install --upgrade pip
        pip install pandas plotly
        if [ -f requirements.txt ]; then pip install -r requirements.txt; fi
        cp plot-icu-data.py plot.py
        git checkout gh-pages
        python plot.py
        git add index.html
        git commit -m "Update ICU data chart"
        git push
